<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Home2Dorm</h1>
    <p class="lead">Your Essential Packlist, Delivered Weekly!</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/auth/google" role="button"><i class="fab fa-google"></i>&ensp; Register with Google</a>
  
    <a class="btn btn-dark btn-lg" href="/auth/google" role="button"><i class="fab fa-google"></i>&ensp;Login with Google</a>



<%- include('partials/footer') %>
